@page "/Contactos"
<div class="flex flex-col gap-4 p-6">
    <p>Nuestras Redes</p>
     <div class="flex items-center gap-4">
        <img alt="Foto propiedad" src="images/logos/facebookLogo.png" class="w-24 h-24 object-contain" />
        <a href="https://www.facebook.com" target="_blank" class="text-blue-600 underline text-lg">
        </a>
    </div>

    <div class="flex items-center gap-4">
        <img alt="Foto propiedad" src="images/logos/instaLogo.png" class="w-24 h-24 object-contain" />
        <a href="https://www.instagram.com" target="_blank" class="text-blue-600 underline text-lg">
        </a>
    </div>

    <div class="flex items-center gap-4">
        <img alt="Foto propiedad" src="images/logos/whatsappLogo.png" class="w-24 h-24 object-contain" />
        <p>+2314-487091</p>
    </div>
</div>


