@page "/"
@using Microsoft.AspNetCore.Authorization
@using BlazorDateRangePicker;
@rendermode InteractiveServer

<h3>Panel privado</h3>
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<AuthorizeView Roles="Administrador">
    <h3>Bienvenido Administrador</h3>
</AuthorizeView>
<DateRangePicker @bind-StartDate="StartDate" @bind-EndDate="EndDate" placeholder="Por favor,elija las fechas"/>

@code {
    DateTimeOffset? date;
    DateTimeOffset? StartDate { get; set; }
    DateTimeOffset? EndDate { get; set; }
   
}

<style>
    .prueba {
        color: red;
    }
</style>