bloque-principal {
  max-width: 90vw;      /* mismo ancho que la imagen principal */
  margin: 0 auto;
}

.imagen-grande {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: block;
  border: 4px solid white;
}

.contenido-inferior {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-height: 60vh; /* Ajustable según diseño */
  padding: 2rem 0;
}

.texto {
  text-align: left;
  width: 100%;
  max-width: 800px;
  color: white;
}

.texto h2 {
  margin-bottom: 0.5rem;
}

.texto p {
  margin-bottom: 1rem;
}

.galeria-miniaturas {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.galeria-miniaturas img {
  flex: 1;
  max-height: 40vh;
  object-fit: cover;
  border-radius: 10px;
  border: 4px solid white;
}