@page "/Principal"

<div class="bloque-principal">
  <img src="images/Inicial.png" class="imagen-grande" alt="Imagen principal" />

  <div class="contenido-inferior">
    <div class="texto">
      <h2>Encontra tu propiedad ideal</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
      <button>Más</button>
    </div>

    <div class="galeria-miniaturas">
      <img src="images/Inicial1.png" alt="Propiedad 1" />
      <img src="images/Inicial2.png" alt="Propiedad 2" />
      <img src="images/Inicial3.png" alt="Propiedad 3" />
    </div>
  </div>
</div>