@inject FiltroDeInmueblesService FiltroDeInmueblesService
@inject CasoDeUsoListarInmuebles casoDeUsoListarInmuebles
@rendermode InteractiveServer

<PageTitle>Inmuebles</PageTitle>
<h1 style="font-weight: bold;">Inmuebles</h1>

<div class="main-content">
    <div class="property-list">
        <div class="property-card">
            <img src="https://th.bing.com/th/id/OIP.B8X6m8si0KeCLs9nrADwCgAAAA?rs=1&pid=ImgDetMain" alt="Propiedad 1" />
        </div>
        <div class="property-card">
            <img src="https://th.bing.com/th/id/OIP.B8X6m8si0KeCLs9nrADwCgAAAA?rs=1&pid=ImgDetMain" alt="Propiedad 2" />
        </div>
    </div>
</div>


@foreach (var inmueble in inmuebles)
{
    <div class="property-card">

    </div>
}
{

}

@code
{
    private List<Inmueble> inmuebles = new List<Inmueble>();
    protected override void OnInitialized()
    {
        inmuebles = FiltroDeInmueblesService.FiltrarInmuebles(casoDeUsoListarInmuebles.Ejecutar());
    }
}