@inherits LayoutComponentBase
@inject NavigationManager Nav
@using Microsoft.AspNetCore.Authentication
@using Alquileres_Express.UI.Components.Pages;
@using Microsoft.AspNetCore.Components.Authorization
@{
    var currentRoute = Nav.ToBaseRelativePath(Nav.Uri);
}
<!-- Barra superior con borde blanco -->
<div class="top-bar d-flex justify-content-between align-items-center border-bottom border-white px-3"
    style="height: 50px;">

    <!-- Logo a la izquierda -->
    <div class="d-flex align-items-center">
        <img src="images/logo.png" alt="logo" style="height: 30px;" class="me-2" />
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Principal">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Alquiler Express
            </NavLink>
        </div>
    </div>

    <!-- Botones a la derecha -->
    <div class="d-flex align-items-center gap-2">
        <AuthorizeView>
            <Authorized>
                @if (!string.Equals(currentRoute, "Perfil", StringComparison.OrdinalIgnoreCase))
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/Perfil">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Perfil
                        </NavLink>
                    </div>
                }
            </Authorized>

        </AuthorizeView>
        @if ((!string.Equals(currentRoute, "usuario", StringComparison.OrdinalIgnoreCase)) && (!string.Equals(currentRoute, "login", StringComparison.OrdinalIgnoreCase)))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/usuario">
                    <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Registrar Cliente
                </NavLink>
            </div>
        }
        @if (!string.Equals(currentRoute, "login", StringComparison.OrdinalIgnoreCase))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Login">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Iniciar Sesion
                </NavLink>
            </div>

            @if (!string.Equals(currentRoute, "Inmuebles", StringComparison.OrdinalIgnoreCase))
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Inmuebles">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Inmuebles
                    </NavLink>
                </div>
            }
        }
        <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Contactos">
                        <button class="btn btn-sm Contactanos">Contactanos</button>
                    </NavLink>
                </div>
    </div>
</div>
<!-- Contenido principal con fondo personalizado -->

<main class="main-content text-white py-4 px-3">
    @Body
</main>
