/* Fondo principal */
.main-content {
    background-color: #495d54;
    min-height: 100vh; /* que ocupe todo el alto de la ventana */
    color: rgb(255, 255, 255); /* texto blanco */
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Barra superior toda blanca */
.top-bar {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Ajustes para texto y logo dentro de la barra blanca */
.top-bar .text-white {
    color: black !important; 
    font-weight: 700;
    font-size: 1.25rem;
}

.top-bar img {
    height: 30px;
    margin-right: 0.5rem;
}

/* Botones en la barra */
.top-bar button {
    color: black;
    border: 1px solid black;
    background: transparent;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
}

.Contactanos{
    color: rgb(255, 255, 255) !important;
    border: 1px solid black;
    background: #495d54 !important;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
}

.top-bar button:hover {
    background-color: #e0e0e0;
}
